.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid yellowgreen;
}

.nav ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    list-style-type: none;
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul li a{
    text-decoration: none;
    color: #cfef0d;
}

.logo{
    height: 50px;
}